spring:
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
  application:
    name: boot
  jackson:
    time-zone: UTC
  datasource:
    url: jdbc:postgresql://${DB_URL}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
        dialect: org.hibernate.dialect.PostgreSQLDialect
minio:
  access-key-id: ${MINIO_USER}
  secret-key: ${MINIO_PASSWORD}
  barcode-bucket: barcodes
  url-internal: ${MINIO_URL_INTERNAL}
  url-external: ${MINIO_URL_EXTERNAL}
springdoc:
  allowed-locales: uk-UA,en-GB,he-IL
